#add_class{
        text-align: center;
        width: 71px;
        height: 25px;
        border-radius: 3px;
        color: #000;
        font-size: 12px;
        background-color: #58D3F7;
        border-color: #045a8b;
}
