#delete_class{
	text-align: center;
        width: 85px;
        height: 25px;
        border-radius: 3px;
        color: white;
        font-size: 12px;
        background-color: #0571a6;
        border-color: #045a8b;
}

table{
	margin-left: auto;
	margin-right: auto;
}
